{% extends "base.html" %}
{% block title %}Add an Album{% endblock %}
{% block content %}
<h1>Add an Album</h1>
<a href="{{ url_for('song_bp.add_song') }}"><< Go back to add a Song</a>
<br>
<br>
{%- for message in get_flashed_messages() %}
    Error: {{ message }}
    <br>
{%- endfor %}
<form action="/album/add" method="post" enctype="application/x-www-form-urlencoded">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }}
    <ul>
    {% for error in form.name.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    <input type="submit" value="Add Album">
</form>
{% endblock %}