{% extends "base.html" %}
{% block title %}Add Album{% endblock %}
{% block content %}
{%- for message in get_flashed_messages() %}
    Error: {{ message }}
    <br>
{%- endfor %}
<form action="/album/add" method="post" enctype="application/x-www-form-urlencoded">
    {{ form.csrf_token }}
    {{ form.name.label }}
    {{ form.name }}
    <ul>
    {% for error in form.name.errors %}
        <li style="color:red;">{{ error }}</li>
    {% endfor %}
    </ul>
    <br>
    <input type="submit" value="Add Album">
</form>
{% endblock %}